header{
    background-color: black;
    padding-left:  50px;
    padding-top: 10px;
}
h1{
    color: red;
}
body{
    background-color: black;
    margin: 0px;
}
h2{
    color: ghostwhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    color: ghostwhite;
    width: 500px;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
hr{
    height: 5px;
    background-color: white;
}
section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}